<ion-view view-title="Accueil">
    <ion-nav-buttons side="right">
        <button class="button button-clear"
                ng-click="!DataService.isFetching() && DataService.update()"
                ng-switch="DataService.isFetching()">
            <ion-spinner icon="lines"
                         class="spinner-light"
                         ng-switch-when="true"></ion-spinner>

            <span ng-switch-when="false">Actualiser</span>
        </button>
    </ion-nav-buttons>

    <ion-content>
        <h3 class="padding-top padding-left">Liste des évènements</h3>
        <h4 class="padding-left">30 prochains jours</h4>

        <!-- Todo:
        <div class="button-bar padding-left padding-right padding-bottom">
            <button class="button"
                    type="button"
                    ng-click="setTwoDays()"
                    ng-class="{'button-outline': control.mode !== 'twoDays'}">
                Aujourd'hui, demain
            </button>

            <button class="button"
                    type="button"
                    ng-click="setWeek()"
                    ng-class="{'button-outline': control.mode !== 'week'}">
                Cette semaine
            </button>
        </div>
        -->

        <div class="list">
            <a class="item item-icon-right"
               ng-repeat="event in events | orderBy:'ts_end'"
               ui-sref="main.event({eventId: event.id})">
                <h2 ng-bind-html="event.title"></h2>

                <i class="icon ion-chevron-right"></i>

                <p ng-if="event.categories.length">
                    <em ng-bind-html="event.categories[0]"></em>
                </p>

                <p>
                    {{ event.date_start | moment }}
                    <span ng-if="event.date_start !== event.date_end">
                        → {{ event.date_end | moment }}
                    </span>
                </p>
            </a>

            <p ng-if="isLoading"
               class="item item-text-wrap text-center">
                <strong>Chargement...</strong>
            </p>

            <p ng-if="!isLoading && !events"
                    class="item item-text-wrap text-center">
                <strong>Aucun évènement trouvé :(</strong>
            </p>
        </div>
    </ion-content>
</ion-view>
