<ion-tabs class="tabs-icon-top tabs-color-active-calm">
    <ion-tab title="Évènements"
             icon-off="ion-ios-bookmarks-outline"
             icon-on="ion-ios-bookmarks"
             href="#/main/events">
        <ion-nav-view name="events"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Mon Agenda"
             icon-off="ion-ios-star-outline"
             icon-on="ion-ios-star"
             href="#/main/agenda">
        <ion-nav-view name="agenda"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Paramètres"
             icon-off="ion-ios-gear-outline"
             icon-on="ion-ios-gear"
             href="#/main/settings">
        <ion-nav-view name="settings"></ion-nav-view>
    </ion-tab>
</ion-tabs>
